{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">

            {# --- COLONNE PHOTO --- #}
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    {% if participant.imageProfil %}
                        <img src="{{ asset('images/uploads/' ~ participant.imageProfil) }}"
                             alt="Photo de profil"
                             class="rounded-circle"
                             width="150">
                    {% else %}
                        <img src="{{ asset('images/default-profile.jpg') }}"
                             alt="Photo par défaut"
                             class="rounded-circle"
                             width="150">
                    {% endif %}



                    <span class="font-weight-bold">{{ participant.prenom ~ ' ' ~ participant.nom }}</span>
                    <span class="text-black-50">{{ participant.mail }}</span>
                    {% if participant.site %}
                        <span class="text-muted">{{ participant.site.nom }}</span>
                    {% endif %}
                </div>
            </div>

            {# --- COLONNE INFORMATIONS PRINCIPALES --- #}
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profil</h4>
                        {% if app.user and app.user.id == participant.id %}
                        <a href="{{ path('app_profile_edit', {'id': participant.id}) }}" class="btn btn-outline-primary btn-sm">
                            Modifier
                        </a>
                        {% endif %}

                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Prénom</label>
                            <p class="form-control-plaintext">{{ participant.prenom }}</p>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Nom</label>
                            <p class="form-control-plaintext">{{ participant.nom }}</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Téléphone</label>
                            <p class="form-control-plaintext">
                                {{ participant.telephone is not empty ? participant.telephone : 'Non renseigné' }}
                            </p>
                        </div>

                        <hr>

                        <div class="col-md-12 mt-3">
                            <label class="labels">Email</label>
                            <p class="form-control-plaintext">{{ participant.mail }}</p>
                        </div>

                        <hr>

                        <div class="col-md-12 mt-3">
                            <label class="labels">Site</label>
                            <p class="form-control-plaintext">
                                {{ participant.site ? participant.site.nom : 'Non défini' }}
                            </p>
                        </div>

                    </div>

                    <hr>
                    <div class="row mt-3">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>

            {# --- COLONNE DROITE --- #}
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <span>Autres informations</span>
                    </div><br>

                    <div class="col-md-12">
                        <label class="labels">Centres d’intérêt</label>
                        <p class="form-control-plaintext text-muted">Non renseigné</p>
                    </div><br>

                    <div class="col-md-12">
                        <label class="labels">Rôle utilisateur</label>
                        <p class="form-control-plaintext">
                            {% if 'ROLE_ADMIN' in participant.roles %}
                                Administrateur
                            {% elseif 'ROLE_USER' in participant.roles %}
                                Utilisateur
                            {% else %}
                                Non défini
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
