{# 🔹 Modal d’inscription (branche sur le formulaire Symfony RegistrationFormType) #}
<div class="modal fade" id="registerModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Créer un compte</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-4">

                {{ form_start(registrationForm, {'action': path('app_register')}) }}
                <div class="mb-3">
                    {{ form_row(registrationForm.nom) }}
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.prenom) }}
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.telephone) }}
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.mail) }}
                </div>
                <div class="mb-3">
                    {{ form_row(registrationForm.plainPassword) }}
                </div>
                <div class="form-check mb-3">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>

                <button type="submit" class="btn btn-success w-100">S’inscrire</button>
                {{ form_end(registrationForm) }}

            </div>
        </div>
    </div>
</div>
