{# partials/modal_register.html.twig #}

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Créer un compte</h5>
            </div>
            <div class="modal-body">
                {% if registrationForm is defined %}
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.nom) }}
                    {{ form_row(registrationForm.prenom) }}
                    {{ form_row(registrationForm.mail) }}
                    {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe' }) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    <button type="submit" class="btn btn-primary w-100">Créer mon compte</button>
                    {{ form_end(registrationForm) }}
                {% else %}
                    <div class="alert alert-info">
                        Le formulaire d’inscription n’est pas disponible sur cette page.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
