{% extends 'base.html.twig' %}

{% block title %}Modifier la sortie{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Modifier la sortie</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            {% if sortie.imagePrincipale %}
                <div class="text-center mb-3">
                    <img src="{{ asset('images/sorties/' ~ (sortie.imagePrincipale ?: 'default.png')) }}"
                         alt="Image de {{ sortie.nom }}"
                         class="img-fluid rounded shadow-sm"
                         style="max-height: 300px;">
                </div>
            {% else %}
                <p class="text-muted text-center">Aucune image disponible pour cette sortie.</p>
            {% endif %}
            {{ form_start(form) }}
                <div class="row g-3">
                    <div class="col-md-6">{{ form_row(form.nom) }}</div>
                    <div class="col-md-6">{{ form_row(form.nbInscriptionsMax) }}</div>
                    <div class="col-md-6">{{ form_row(form.dateHeureDebut) }}</div>
                    <div class="col-md-6">{{ form_row(form.dateLimiteInscription) }}</div>
                    <div class="col-md-6">{{ form_row(form.duree) }}</div>
                    <div class="col-md-6">{{ form_row(form.site) }}</div>
                    <div class="col-md-12">{{ form_row(form.lieu) }}</div>
                    <div class="col-12">{{ form_row(form.infosSortie) }}</div>
                </div>
                <div class="mt-3 d-flex gap-2">
                    <a href="{{ path('app_sortie_index') }}" class="btn btn-secondary">Annuler</a>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}


